body {
  margin: 0;
  font-family: sans-serif;
}

.box {
    min-height: 100vh;
    padding: 100px;
    box-sizing: border-box;
    display: grid;
    /* display: flex; */
    grid-template-columns: repeat(6, auto);
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    background-image: radial-gradient(circle, #FFE490, #86d0ed, #6970f4);
}

.card {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    /* margin: 7px; */
    border-radius: 50%;
    box-shadow: 1px 1px 5px #0002;
    transition-property: transform, box-shadow;
    transition-duration: .5s;
    background-color: #fff5;
}

.card:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 1px 1px 5px #f6ec83aa, 
                1px 1px 15px #deae1cda;
}

/*
git add .
git commit -m "olololo"
git push origin master
*/

.card:first-child {
    grid-column-end: span 6;
}